{{ $headless := site.GetPage "/headless" }}
{{ with $headless.Resources.GetMatch .  }}
<section class="form">
    <h3 class="form__title">{{ .Title }}</h3>
    <form action="">
        {{ range sort .Params.Form "weight" }}
        <label class="form__label">
            {{ if eq .type "textarea" }}
            <span>{{ .label | markdownify }}</span>
            <textarea class="form__input"
            name="{{ .name }}"
            type="{{with .type }}{{ . }}{{ else }}text{{ end }}"
            {{ with .autocomplete }} autocomplete="{{ . }}"{{ end}}
            {{ with .placeholder }} placeholder="{{ . }}"{{ end}}
            {{ if .req }} required{{ end }}
            ></textarea>
            {{ else if eq .type "checkbox" }}
            <input class="form__input"
                type="checkbox" name=""
                {{ if .req }} required{{ end }}
            >
            <span>{{ .label | markdownify }}</span>
            {{ else }}
            <span>{{ .label | markdownify }}</span>
            <input class="form__input"
                name="{{ .name }}"
                type="{{with .type }}{{ . }}{{ else }}text{{ end }}"
                {{ with .autocomplete }} autocomplete="{{ . }}"{{ end}}
                {{ with .placeholder }} placeholder="{{ . }}"{{ end}}
                {{ if .req }} required{{ end }}
            >
            {{ end }}
        </label>
        {{ end }}
        <button class="form__btn" type="submit">{{ .Params.SendBtn.Text }}</button>
    </form>
</section>
{{ end }}