<header class="header">
    <div class="width-wrapper">
        <div class="header__block">
            <div class="header__logo">
                {{ partial "logo-svg" }}
                <div class="header__logo-name">{{ .Site.Title }}</div>
            </div>
            <div class="header__nav-toggler" id="navShow">
                <button type="button" aria-label="Menu" aria-expanded="false" aria-controls="mainnav">
                    <svg xmlns="http://www.w3.org/2000/svg"
                            width="36" height="22" viewBox="0 0 36 22"
                            fill="none" stroke="#444" stroke-width="2"
                            stroke-linecap="round"
                            aria-hidden="true">
                        <path d="M0 1H36"/>
                        <path d="M0 11H36"/>
                        <path d="M0 21H36"/>
                    </svg>
                </button>
            </div>
            <nav class="header__nav" id="mainnav"
                aria-label="Main menu"
                itemscope="itemscope"
                itemtype="http://www.schema.org/SiteNavigationElement">
                <div class="header__nav-top">
                    <div class="header__nav-toggler" id="navHide">
                        <button type="button" aria-label="Menu" aria-expanded="true" aria-controls="mainnav">
                            <svg xmlns="http://www.w3.org/2000/svg"
                            width="36" height="22" viewBox="0 0 36 22"
                            fill="none" stroke="#444" stroke-width="2">
                            <path d="M0 1 L36 21"/>
                            <path d="M0 21 L36 1"/>
                            </svg>
                        </button>
                    </div>
                </div>
                
                <ul class="header__nav-list" role="list">
                    {{ range .Site.Menus.top }}
                    <li class="header__nav-item">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </div>    
    </div>
</header>