{{- $title := partial "title" }}
{{- $description := partial "description" }}
{{- $styles := partial "styles" }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $title }}</title>
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    
    <!-- TODO: Change social media stuff -->
    <meta property="og:title" content="{{ $title }}">
    <meta name="description" content="{{ $description }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="https://">
    
    <meta property="og:locale" content="{{ with site.LanguageCode | default site.Language.Lang }}{{ . }}{{ end }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="{{ .Permalink }}">

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="icon" href="{{ "favicon.svg" | absURL }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">
    <link rel="manifest" href="{{ "my.webmanifest" | absURL }}">

    <!-- TODO: Change theme color -->
    <meta name="theme-color" content="#5cb931">
    {{ partial "json-ld.html" (dict "p_title" $title "p_decsr" $description)  }}
</head>