<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>🛑 Change me</title>

    {{/*  {{ $opts := dict "transpiler" "dartsass" "targetPath" "styles/main.css" }}  */}}
    {{ $opts := dict "targetPath" "styles/main.css" }}
    {{- $scss := resources.Get "scss/main.scss" }}
    {{ with resources.Get "scss/main.scss" }}
    {{/* {{- $style := $scss | toCSS $opts | minify | fingerprint }} */}}
    {{- $style := . | toCSS $opts | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ .Data.Integrity }}">
    {{ end }}

    
    <!-- TODO: Change social media stuff -->
    <meta property="og:title" content="🛑 Change me">
    <meta name="description" content="🛑 Change me (up to ~155 characters)">
    <meta property="og:description" content="🛑 Change me (up to ~155 characters)">
    <meta property="og:image" content="https://">
    
    <meta property="og:locale" content="{{ with site.LanguageCode | default site.Language.Lang }}{{ . }}{{ end }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="{{ .Permalink }}">

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="icon" href="{{ "favicon.svg" | absURL }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">
    <link rel="manifest" href="{{ "my.webmanifest" | absURL }}">

    <!-- TODO: Change theme color -->
    <meta name="theme-color" content="#5cb931">
</head>