{{ $headless := site.GetPage "/headless" }}
{{ with $headless.Resources.GetMatch .  }}
<section class="price" id="price">
    <h2 class="prise__title">{{ .Title }}</h2>
    <ul class="price__list">
        {{ range .Params.price }}
        <li class="price__item p-card">
            <h3 class="p-card__title">{{ .title }}</h3>
            <div class="p-card__info">
                <span>{{ .cost }}</span>
                <span>{{ .duration }}</span>
            </div>
            <div class="p-card__text">{{ .text | markdownify }}</div>
        </li>
        {{ end }}
    </ul>
    {{ .Content }}
</section>
{{ end }}