.footer {
    --top-cut: 30px;

    background-color: var(--dark-bg-color);
    min-height: 12rem;
    margin-block-start: calc(var(--top-cut) + var(--main-gap));
    padding-block-start: calc(var(--top-cut) + var(--main-gap));
    clip-path: polygon(0 var(--top-cut), 100% 0, 100% 100%, 0 100%);
    color: var(--light-bg-color);
}