:root {
    /* Colors */
    --accent-color-dark: hsl(101, 58%, 26%);
    --accent-color: hsl(101, 58%, 46%);
    --accent-color-light: hsl(101, 58%, 66%);
    
    --link-color-dark: hsl(240, 33%, 50%);
    --link-color: hsl(240, 33%, 70%);
    --link-color-light: hsl(240, 33%, 90%);
    
    --dark-bg-color-dark: hsl(94, 11%, 6%);
    --dark-bg-color: hsl(94, 11%, 26%);
    --dark-bg-color-light: hsl(94, 11%, 46%);
    
    --light-bg-color-dark: hsl(94, 73%, 78%);
    --light-bg-color: hsl(94, 73%, 98%);
    --light-bg-color-light: hsl(94, 73%, 100%);

    --light-text-color: hsl(0, 0%, 98%);
    --dark-text-color: hsl(0, 0%, 20%);

    --dark-bg-gradient: radial-gradient(
        farthest-corner circle at 9% 73%, #414a3b 5% 5%, 89%, #748268 100%
    );

    --box-shadow: 
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    --border-radius: 3px;

    --ff-main: "Exo", Arial, Helvetica, sans-serif;
    // --ff-accent: "Fira Code", "Courier New", Courier, monospace;
    --ff-accent: "Courier New", Courier, monospace;
    --ff-mono: "Courier New", Courier, monospace;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.3rem;
    --fs-500: 1.1rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.875rem;

    /* paddings, margins, gaps */

    --main-gap: clamp(.7rem, calc(.5rem + 1vw), 1rem);
    --block-gap: calc(var(--main-gap) * 2)
}
