.form {

    &__title {
        margin-block: var(--main-gap);
    }

    &__label {
        display: block;
        margin-block-end: var(--main-gap);

        &:has(*:required) > span::after {
            content: "*";
            vertical-align: super;
            color: var(--accent-color-dark);
        }
    }

    &__input {
        display: block;
        min-width: 100%;
        font: inherit;
        padding: .25em .5em;
        
        &[type="checkbox"] {
            display: inline-block;
            min-width: auto;
            margin-inline-end: var(--main-gap);
            accent-color: var(--accent-color);
            transform: scale(1.8);
            transform-origin: left;
        }
    }
    
    &__btn {
        display: block;
        margin-inline: auto;
        font: inherit;
        padding: .3em 2.5em;
    }
}
