/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    // color-scheme: light dark;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-width: 360px;
    margin: 0;
    font-family: var(--ff-main);
    font-size: var(--fs-500);
    line-height: 1.6;
    background-color: var(--light-bg-color);
    color: var(--dark-text-color);
}

main {
    // width: calc(min(65ch, 100% - 4rem));
    // margin-inline: auto;
}

/* Reset margins */
h1, h2, h3, h4, h5,
p,
figure,
picture {
    margin: 0;
    margin-block-start: 1em;
}

h3 {
    font-size: var(--fs-600);
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

.width-wrapper {
    max-width: calc(min(1280px, 100vw));
    min-width: 360px;
    margin-inline: auto;
    overflow: hidden;
    padding-inline: var(--main-gap);
}