{{ define "main" }}
{{ $listBg := .Resources.GetMatch .Params.cover_img }}
<div class="width-wrapper">
    <div class="list">
        <main class="list__main">
            <article>
                {{ with $listBg }}
                    {{ $bgimg := .Resize "600x webp q30" }}
                <h1 class="list__header list__header--bg"
                    style="--header-bg-image: url('{{ $bgimg.RelPermalink }}');">
                    {{ $.Title }}
                </h1>
                {{ else }}            
                <h1 class="list__header">
                    {{ .Title }}
                </h1>
                {{ end }}
                {{ .Content }}
            </article>
            {{ with .Params.Price }}
                {{ partial "price-section" . }}
            {{ end }}
        </main>
        <aside class="list__aside">
            {{ with .Pages }}
            <ul class="pages-list">
                {{ range . }}
                <li class="pages-list__item">
                    <a class="pages-list__link" href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
            {{ partial "homepage/services" . }}
        </aside>
    </div>
</div>
{{ end }}