{{ define "main" }}
{{ $listBg := .Resources.GetMatch .Params.cover_img }}
<div class="width-wrapper">
    <div class="list">
        <main class="list__main">
            <article>
                {{ with $listBg }}
                    {{ $bgimg := .Resize "600x webp q30" }}
                <h1 class="list__header list__header--bg"
                    style="--header-bg-image: url('{{ $bgimg.RelPermalink }}');">
                    {{ $.Title }}
                </h1>
                {{ else }}            
                <h1 class="list__header">
                    {{ .Title }}
                </h1>
                {{ end }}
                {{ .Content }}
            </article>
            <h5 class="meta">
                {{ .Date.Format "02.01.2006" }} | {{ .WordCount }} Words
            </h5>
        </main>
        <aside class="list__aside">
            <ul>
                {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
            {{ partial "homepage/services" . }}
        </aside>
    </div>
</div>
{{ end }}