{{ define "main" }}
<div class="width-wrapper">
    <div class="single">
        <main class="single__main">
            <article>
                {{ partial "back-to-section.html" . }}
                {{ partial "page-header" . }}                
                {{ .Content }}
            </article>
            <h5 class="meta">
                {{ .Date.Format "02.01.2006" }} | {{ .WordCount }} Words
            </h5>
            {{ with .Params.Form }}
                {{ partial "form-section" . }}
            {{ end }}
        </main>
        <aside class="single__aside">
            {{ partial "homepage/services" . }}
        </aside>
    </div>
</div>
{{ end }}