{{ define "main" }}
<div class="width-wrapper">
    <main>
        <div class="page-404">
            <h1>ERORR 404</h1>
            <a class="page-header__link" href="{{ .Site.Home.RelPermalink }}">⇐ Startseite</a>
            <h2>Seite nicht gefunden</h2>
            <p>Entschuldigung, diese Seite ist leider nicht verfügbar.</p>
            <p>Es tut uns leid, aber die von Ihnen angeforderte Seite konnte nicht gefunden werden. Möglicherweise haben Sie einen veralteten Link oder eine falsche URL eingegeben. Bitte überprüfen Sie die Adresse auf Tippfehler oder kehren Sie zur <a href="{{ .Site.Home.RelPermalink }}">Startseite zurück</a>, um die gewünschten Informationen zu finden.</p>                
        </div>
    </main>
</div>
{{ end }}