{{ define "main" }}
{{ $singleBg := .Resources.GetMatch .Params.cover_img }}
<div class="width-wrapper">
    <div class="single">
        <main class="single__main">
            <article>
                {{ partial "back-to-section.html" . }}

                {{ with $singleBg }}
                    {{ $bgimg := .Resize "600x webp q30" }}
                <h1 class="single__header single__header--bg"
                    style="--single-bg-image: url('{{ $bgimg.RelPermalink }}');">
                    {{ $.Title }}
                </h1>
                {{ else }}            
                <h1 class="single__header">{{ .Title }}</h1>
                {{ end }}
                
                {{ .Content }}

                <form action="">
                    {{ range sort .Params.Form "weight" }}
                    <label>
                        {{ if eq .type "textarea" }}
                        {{ .label | markdownify }}
                        <textarea
                        name="{{ .name }}"
                        type="{{with .type }}{{ . }}{{ else }}text{{ end }}"
                        {{ with .autocomplete }} autocomplete="{{ . }}"{{ end}}
                        {{ with .placeholder }} placeholder="{{ . }}"{{ end}}
                        {{ if .req }} required{{ end }}
                        ></textarea>
                        {{ else if eq .type "checkbox" }}
                        <input
                            type="checkbox" name=""
                            {{ if .req }} required{{ end }}
                        >
                        {{ .label | markdownify }}
                        {{ else }}
                        {{ .label | markdownify }}
                        <input
                            name="{{ .name }}"
                            type="{{with .type }}{{ . }}{{ else }}text{{ end }}"
                            {{ with .autocomplete }} autocomplete="{{ . }}"{{ end}}
                            {{ with .placeholder }} placeholder="{{ . }}"{{ end}}
                            {{ if .req }} required{{ end }}
                        >
                        {{ end }}
                    </label><br>
                    {{ end }}
                    <button type="submit">{{ .Params.SendBtn.Text }}</button>
                </form>
            </article>
            <h5 class="meta">
                {{ .Date.Format "02.01.2006" }} | {{ .WordCount }} Words
            </h5>
        </main>
        <aside class="single__aside">
            {{ partial "homepage/services" . }}
        </aside>
    </div>
</div>
{{ end }}