{{ $news := slice "First news" "Second news" "Third news" "Fourth news" "Fifth news" "Sixth news" }}
<div class="blog">
    <div class="width-wrapper">
        <div class="blog__block">
            <h2 class="blog__title">Blog / News</h2>
            <ul class="blog__list" role="list">
                {{ range $news }}
                <li class="blog__item">
                    <a class="bcard" href="#{{ . }}">
                        <h3 class="bcard__title">
                            {{ . }}
                        </h3>
                        <div class="bcard__text">
                            Lorem ipsum dolor sit amet consectetur.
                        </div>
                    </a>
                </li>
                {{ end }}
                <li class="blog__item">
                    <a class="bcard bcard--all" href="#{{ . }}">
                        <h3 class="bcard__title">
                            Alle News und Blog-Artikel
                        </h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>