<div class="hero">
    <div class="width-wrapper">
        <div class="hero__block">
            <div class="hero__content">
                <h2>
                    Ihr Datenträger ist beschädigt?<br>
                    Vertrauen Sie ihn HeadCrash an!
                </h2>
                <ul>
                    <li>Festplattenvernichtung</li>
                    <li>Datenlöschung</li>
                    <li>SuperMegaService</li>
                    <li>Datenrettung</li>
                </ul>
                <div class="hero__contact">
                    <a href="tel:+222333222">Ruf uns an!</a>
                    <a href="mailto:info@mail.mail">Schreiben uns an!</a>
                </div>
            </div>
        </div>
    </div>
</div>