{{ $heroBg := resources.Get (path.Join "images" .Site.Params.HeroBackground) }}
{{ with $heroBg.Resize "1200x webp q30" }}
<div class="hero" style="--hero-bg-image: url('{{ .RelPermalink }}');">
{{ end }}
    <div class="width-wrapper">
        <div class="hero__block">
            <div class="hero__content">
                <h2 class="hero__content-title">
                    Ihr Datenträger ist beschädigt?
                    Vertrauen Sie ihn HeadCrash an!
                </h2>
                <ul>
                    {{ range .Site.Menus.service }}
                    {{ if ne .Name "FAQ"}}
                    <li class="services__item">{{ .Name }}</li>
                    {{ end }}
                    {{ end }}
                </ul>
                <div class="hero__contact">
                    <a href="tel:+222333222">Ruf uns an!</a>
                    <a href="mailto:info@mail.mail">Schreiben uns an!</a>
                </div>
            </div>
        </div>
    </div>
</div>