<div class="services">
    <div class="width-wrapper">
        <div class="sevices__block">
            <h2 class="services__title">Unsere Services</h2>
            <ul class="services__list" role="list">
                {{ range .Site.Menus.top }}
                {{ if ne .Name "FAQ"}}
                <li class="services__item">
                    <a class="scard" href="{{ .URL }}">
                        <h3 class="scard__title">
                            {{ .Name }}
                        </h3>
                        <div class="scard__content">
                            <img src="" alt="" class="scard__image">
                            <div class="scard__text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit sunt ut similique!
                            </div>
                        </div>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</div>