{{ $page := . }}
<div class="services">
    <div class="width-wrapper">
        <div class="sevices__block">
            <h2 class="services__title">Unsere Services</h2>
            <ul class="services__list" role="list">
                {{ range .Site.Menus.top }}
                {{ if not ($page.IsMenuCurrent "top" .) }}
                <li class="services__item">
                    <a class="scard" href="{{ .URL }}">
                        <h3 class="scard__title">{{ .Name }}</h3>
                        <div class="scard__content">
                            {{ if $page.IsHome }}
                            {{ with .Page.Resources.GetMatch .Page.Params.cover_img }}
                            {{ $coverImg := .Resize "320x webp q40" }}
                            <img src="{{ $coverImg.RelPermalink }}" alt="" class="scard__image">
                            {{ end }}
                            {{ end }}
                            <div class="scard__text">
                                {{ with .Page.Description }}
                                    {{ . }}
                                {{ else }}
                                    {{ .Page.Summary | plainify}}
                                {{ end }}
                            </div>
                        </div>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</div>