.services {
    padding-block: var(--main-gap);
    background-color: var(--dark-bg-color-light);
    color: var(--light-text-color);
    
    &__list {
        margin-block: var(--main-gap);                       
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
        column-gap: var(--main-gap);
        row-gap: calc(var(--main-gap) * 2);
        
    }

    .scard {
        position: relative;
        display: block;
        height: 100%;
        padding: var(--main-gap);
        border-radius: 4px;
        color: var(--dark-text-color);
        text-decoration: none;
        background-color: var(--light-bg-color-light);
        transition: background-color 300ms;
        
        &::before {
            --y-size: 12px;
            content: "";
            position: absolute;
            top: calc(var(--y-size) * -1);
            left: calc(var(--y-size) * 1);
            display: block;
            width: 50%;
            height: calc(var(--y-size) * 2);
            background-color: inherit;
            border-top-left-radius: var(--y-size);
            border-top-right-radius: var(--y-size);
        }

        &__title {
            margin-block-start: calc(var(--main-gap) / 2);
            text-align: center;
        }
        
        &__content {
            
        }

        &__image {
            width: 60%;
            aspect-ratio: 3/2;
            margin-inline: auto;
            margin-block-end: var(--main-gap);
            background-color: #ddd;
            object-fit: cover;
        }

        &__text {

        }

        &:is(:hover, :focus-visible) {
            background-color: var(--link-color-light);
        }
    }
}