{{ define "main" }}
<div class="width-wrapper">
    <div class="list">
        <main class="list__main">
            <article>
                {{ partial "page-header" . }}
                {{ .Content }}
            </article>
            <ul>
                {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </main>
        <aside class="list__aside">
            {{ partial "homepage/services" . }}
        </aside>
    </div>
</div>
{{ end }}