RewriteEngine On
ErrorDocument 404 /404.html
Redirect 301 /datenrettung/datenrettung-headcrash.html /datenrettung/
Redirect 301 /festplattenvernichtung.html /datentraegervernichtung/festplattenvernichtung/
Redirect 301 /datenrettung/datenrettung-raid-systeme.html /datenrettung/raid-systeme/
Redirect 301 /ratgeber/ratgeber-datenrettung-festplatten-tools-diagnose-tools.html /blog/software/
Redirect 301 /datenrettung/datenrettung-festplatten.html /datenrettung/festplatte/

Redirect 301 /datenrettung/datenrettung-backups.html /datenrettung/backups/
Redirect 301 /datenrettung/datenrettung-betriebssystemen.html /datenrettung/betriebssystemen/
Redirect 301 /datenrettung/datenrettung-cd.html /datenrettung/cd/
Redirect 301 /datenrettung/datenrettung-dateien.html /datenrettung/dateien/
Redirect 301 /datenrettung/datenrettung-datenbander-tapes.html /datenrettung/datenbander-tapes/
Redirect 301 /datenrettung/datenrettung-datenbanken.html /datenrettung/datenbanken/
Redirect 301 /datenrettung/datenrettung-flash-speicher.html /datenrettung/flash-speicher/
Redirect 301 /datenrettung/datenrettung-in-ihrer-nahe.html /datenrettung/
RedirectMatch 301 ^/datenrettung/datenrettung-laptop-festplatte.html/.* /datenrettung/notebook-festplatte/
Redirect 301 /datenrettung/datenrettung-laptop-festplatte.html /datenrettung/notebook-festplatte/
Redirect 301 /datenrettung/datenrettung-notebook-festplatte.html /datenrettung/notebook-festplatte/
Redirect 301 /datenrettung/datenrettung-server.html /datenrettung/server/
RedirectMatch 301 ^/datenrettung/datenrettung-speicherkarten.html/.* /datenrettung/speicherkarten/
Redirect 301 /datenrettung/datenrettung-usb-medien.html /datenrettung/usb-stick/
Redirect 301 /datenrettung/datenrettung.html /datenrettung/
Redirect 301 /datenrettung/festplattenvernichtung.html /datentraegervernichtung/
Redirect 301 /datenrettung/informationen/informationen-zu.html /datenrettung/
RedirectMatch 301 ^/datenrettung/lexikon/.* /blog/lexicon/
RedirectMatch 301 ^/datenrettung/news/.* /datenrettung/
RedirectMatch 301 ^/datenrettung/ratgeber/.* /datenrettung/
Redirect 301 /datenrettung/sitemap.html /datenrettung/
RedirectMatch 301 ^/datenrettung/software/.* /blog/software/
RedirectMatch 301 ^/informationen/.* /
Redirect 301 /kontakt/kontakt-anfrage.html /contact/
RedirectMatch 301 ^/ratgeber/.* /datenrettung/
Redirect 301 /ratgeber/sitemap.html /
Redirect 301 /sitemap.html /