<header class="header">
    <div class="width-wrapper">
        <div class="header__block">
            <a {{ if not .IsHome }}href="{{ site.Home.RelPermalink }}"{{ end }}class="header__logo">
                {{ partial "logo-svg" . }}
                <div class="header__logo-name">{{ site.Params.logoName }}</div>
            </a>
            {{- partial "header/nav-toggler" . }}
            
            <nav class="header__nav" id="mainnav"
                aria-label="Main menu"
                itemscope="itemscope"
                itemtype="http://www.schema.org/SiteNavigationElement">
                <div class="header__nav-top">
                    
                </div>
                
                <ul class="header__nav-list" role="list">
                    {{ range .Site.Menus.top }}
                    {{
                        $active := or 
                        (or (page.IsMenuCurrent "top" . ) (page.IsMenuCurrent "info" . ))
                        (or (page.HasMenuCurrent "top" . ) (page.HasMenuCurrent "info" . ))
                    }}
                    <li
                        class="header__nav-item
                        {{- if $active }} header__nav-item--active{{ end }}
                        {{- if .HasChildren }} header__nav-item--has-children{{ end -}}
                    ">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                        {{ with .Children }}
                        <ul class="header__nav-sublist">
                            {{ range . }}
                            <li class="header__nav-subitem">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </nav>
        </div>    
    </div>
</header>