.content {
    columns: 2 40ch;
    column-fill: balance;
    gap: 2rem;
    // width: calc(min(72ch, 100% - calc(var(--main-gap) * 2));
    margin-block-start: 1em;
    padding-block-start: var(--main-gap);
    padding-block-end: calc(var(--main-gap) * 2);
    
    & > * {
        margin: 0;
    }

    & > * + * {
        margin-block-start: 1em;
    }

    & > figure {
        break-inside: avoid;

        & > img {
            margin-inline: auto;
        }

        &  *:not(img) {
            margin-block: 0;
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            font-style: italic;

        }
    }
}